{% extends "layout_elements.html" %}

{% block head %}
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
{% if true %}
{% if true %}
<link rel="stylesheet" href="//govuk-elements-wip.herokuapp.com/public/stylesheets/govuk-template.css?0.18.1">
<link rel="stylesheet" href="//govuk-elements-wip.herokuapp.com/public/stylesheets/elements-page.css">
{% else %}
<link rel="stylesheet" href="/public/stylesheets/wip-govuk-template.css">
<link rel="stylesheet" href="/public/stylesheets/wip-elements-page.css">
{% endif %}
{% else %}
{{ super() }}
{% endif %}
<style type="text/css">
.grid-row {
  margin-top: 50px;
}

.grid-row h1 {
  margin-top: 0;
}

legend {
  margin-bottom: 10px;
}
.form-sublabel {
  display: block;
  margin-bottom: 10px;
}

  span.form-label-bold {
    font-size: 24px;
  }

	fieldset + .form-group {
		margin-top: 30px;
	}
	
	.action-buttons {
    clear: both;
		padding-top: 20px;
	}
	
	@media (min-width: 641px) {
		.inline-stacked .block-label {
			width: 48%;
			box-sizing: border-box;
		}
		.inline-stacked .block-label:nth-child(2n) {
			clear: both;
		}
	}
.ap_action {
  border: solid 3px #000000;
  padding: 15px 15px 0;
  position: relative;
  margin-bottom: 12px;
  overflow: hidden;
}
.ap_action h2 {
  cursor: pointer;
  margin: 0 0 10px 36px;
}
.ap_action_body {
  margin-top: 15px;
}
.answer_body > p:last-child {
  margin-bottom: 0;
}

.ap_action_tools {
  border-top: solid 3px #000000;
  margin: 15px -15px 0;
  padding: 10px 15px;
}
.ap_action_tools p {
  margin: 0 15px 0 0;
  display: inline-block;
}
.ap_action_tools p:before {
  padding-right: 5px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ap_action legend {
  display: none;
}
.ap_action > .form-group {
  margin: 0;
}
.ap_action fieldset {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 34px;
  height: 41px;
  overflow: hidden;
}
@media (min-width: 641px) {
  .ap_action {
    margin-bottom: 20px;
  }
  .ap_action h2 {
    margin: 3px 0 12px 50px;
  }
  .ap_action fieldset {
    top: 12px;
    left: 15px;
  }
}
{#.js-enabled .ap_action .block-label.selection-button-checkbox::before {
  position: relative;
  display: block;
  margin-bottom: 10px;
}#}
.add-note:before {
  content: '🗨';
  content: "\f075";
}
.schedule-reminder:before {
  content: '⏰';
  content: '🔔';
  content: "\f0f3";
}
.related-container {
  margin-top: 0;
}
.access_code {
  border: solid 3px #000000;
  padding: 15px;
  display: none;
}
.access_code * {
  margin: 0;
}
.access_code-value {
  font-size: 2em;
  margin: 0;
}
.final-actions {
  margin-top: 40px;
}

.already-got-access_code .form-group {
  padding-top: 10px;
}

.already-got-access_code input[type=text] {
  width: 100%;
}
.access_code-submit {
  clear: both;
  padding-top: 10px;
}
</style>
{% endblock %}

{% block page_title %}
{% set title = getFormattedProp(route.key, ['title', 'heading']) %}
Action Plan{% if title %} - {{ title }}{% endif %}
{% endblock %}
{% block content %}

<main id="content" role="main">
  <p>Make a plan for child arrangements</p>
	<div class="grid-row">
		<div class="column-two-thirds">

{% if false and wizardStepCount %}
Question {{ wizardStepCount }} out of {{ wizardStepsLength }}
{% endif %}

{#
      {% if route.wizard %}
      <ul>
      {% for step in wizard %}
        {% set visited = routeVisited(step.route) %}
        <li>{% if visited === true %}<a href="{{ getRouteUrl(step.route) }}">{% endif %}{{ getFormattedProp('route:'+step.route, 'heading') }}{% if visited === true %}</a>{% endif %}</li>
      {% endfor %}
      </ul>
      {% endif %}
#}

      {% if errors %}
<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

<h1 class="heading-medium error-summary-heading" id="error-summary-heading">
{{ getFormatted('error-header:heading') }}
</h1>

<ul class="error-summary-list">
  {% for errorKey, errorValue in errors %}
<li><a href="#form-control_{{ errorKey }}">{{ getFormattedError(errorKey, {header:true}) }} <!--{{errorKey}} - {{errorValue}}--></a></li>
{% endfor %}
</ul>

</div>
      {% endif %}
			{{ element.page_header(route.key, start_page=route.start_page) }}

			<form action="{{ req.originalUrl }}" method="post" class="form">
				<input type="hidden" name="updateForm"> {{ element.group(elements=route.elements) }}
				<div class="action-buttons">
					{% if route.start_page %}
					<p><input class="button button-start" type="submit" value="Start now">
						<!-- <a class="button button-start" href="#" role="button">Start now</a> --></p>
					{% elif route.redirect %}
					<p><input class="button next validation-submit" type="submit" value="Save and continue"></p>
					{% endif %}
				</div>
			</form>

			{% if true %}
      <h3 class="heading-medium" style="margin-top: 150px">Quick dev links</h3>
			<ul>
        {{ easyLink(route.wizard) }}
        {% for step in wizard %}
          {{ easyLink(step.route) }}
        {% endfor %}
			</ul>
			{% endif %}
		</div>

    <div class="related-container column-one-third">
    <aside class="related" id="related">
      <div class="access_code">
        {% if route.start_page %}
        <div class="already-got-access_code">
          <p>If you have already made a plan and have an access code, please enter it here</p>
          {{ macros.text('already-got-one', label='Access code') }}
          <p class="access_code-submit"><button class="button" type="submit">Submit</button></p>
        </div>
        {% else %}
        <h3 class="heading-medium">Access code</h3>
        <p class="access_code-value">{{ access_code }}</p>
        <p class="access_code-instructions">Use this code to access your plan again</p>
        {% endif %}
      </div>
      {% if route.wizardlastRoute %}
      <div class="final-actions">
        <p><a class="button" href="{{ getRouteUrl(wizard[0].route) }}">Edit your responses</a></p>
        <p><input class="button share-plan" type="submit" value="Share your plan"></p>
      </div>
      {% endif %}
    </aside>
    </div>

	</div>
</main>
{% endblock %}
{% macro easyLink(name) %}
<li><a href="{{ getRouteUrl(name) }}">{{ getFormattedProp('route:'+name, ['title', 'heading']) | safe }}</a> | <a href="{{ getRouteUrl(name, null, {edit:true}) }}">(edit)</a></li>
{% endmacro %}

{% block body_end %}
{% include "includes/scripts.html" %}
<script type="text/javascript">
//jQuery('[name=children_number], [name=children_resident], [name=parent_safety], [name=children_age]').on('change', function(e){
//  jQuery('[name=updateForm]').val('yes')
//  jQuery('form').submit()
//})
jQuery('.add-note, .schedule-reminder, .share-plan').on('click', function(e){
  var $el = jQuery(this)
  var feature = $el.text() || $el.val()
  alert('The “' + feature + '” feature has not been implemented yet')
  e.preventDefault()
})

jQuery('.ap_action input[type=checkbox]').on('change', function(e){
  var checked = jQuery(this).is(':checked')
  jQuery(this).closest('.ap_action').find('.ap_action_body')[(checked ? 'add' : 'remove') + 'Class']('js-hidden')
})
jQuery('.ap_action h2').on('click', function(e){
  jQuery(this).closest('.ap_action').find('.ap_action_body').toggleClass('js-hidden')
})
jQuery('.access_code-submit button').on('click', function(e) {
  e.preventDefault()
  var code_value = jQuery('[name=already-got-one]').val()
  document.location.href = "{{ getRouteUrl(wizard[wizard.length - 1].route) }}" + (code_value ? ('/' + code_value) : '')
})
</script>
{% endblock %}

{#

!# auto advance page if all element's on a page are dependently false or auxilliary
# add reveals behaviour to dependent sibling's dependency (rather than current jerry-rigged jQuery resubmit)
!# edit - go back to relevant page, save and return to outcome # breadcrumbs - ie. work out wizard structure
# add additional nunjucks directory - see
https://github.com/expressjs/express/pull/2320
# remove checkDependency on nunjuck rendering now handled by, er, handler

#}