{% extends "layout_elements.html" %}

{% block head %}
<link rel="stylesheet" href="http://govuk-elements-wip.herokuapp.com/public/stylesheets/elements-page.css">
<link rel="stylesheet" href="http://govuk-elements-wip.herokuapp.com/public/stylesheets/govuk-template.css?0.18.1">
{% endblock %}

{% block page_title %}
  {% set title = getFormattedProp(route.key, ['title', 'heading']) %}
  Action Plan{% if title %} - {{ title }}{% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {{ element.page_header(route.key, start_page=route.start_page) }}
      <form action="{{ req.originalUrl }}" method="post" class="form">
      {{ element.group(elements=route.elements) }}
      {% if route.start_page %}
      <p><input class="button button-start" type="submit" value="Start now">
      <!-- <a class="button button-start" href="#" role="button">Start now</a> --></p>
      {% elif route.redirect %}
      <p style="margin-top: 40px"><input class="button next validation-submit" type="submit" value="Save and continue"></p>
      {% endif %}
      </form>

      {% if route.name === 'your_plan' %}
      <pre style="white-space:pre-wrap">{{ savedfields }}</pre>
      <ul>
        <li><a href="/action-plan/staying-safe">Staying Safe</a></li>
        <li><a href="/action-plan/your-children">Your children</a></li>
        <li><a href="/action-plan/you-and-other-parent">You and your child’s other parent</a></li>
        <li><a href="/action-plan/legal-help-and-advice">Legal help and advice</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}


